<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title>Movie Time Plus</title>
<!-- load bootstrap, fontawesome, and site.css -->
    <link href="app/styles/site.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/ngActivityIndicator/css/ngActivityIndicator.min.css" rel="stylesheet">
  </head>
  <body ng-app="movietimeplusApp">

<!-- HEADER AND NAVBAR -->
    <div class="header">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button class="navbar-toggle collapsed" data-target="#js-navbar-collapse" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">movietimeplus</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#/">Home</a>
              </li>
              <li>
                <a ng-href="#/about">About</a>
              </li>
              <li>
                <a ng-href="#/">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div class="container-fluid">
<!-- <div ng-include="'/main.html'"></div> -->
      <div ng-show="AILoading" class="loading"></div>
      <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container-fluid">
        <p>
          <span class="glyphicon glyphicon-heart"></span>
          MovieTimePlus Inc.</p>
      </div>
    </div>

<!-- Since we are not using a local web server, templates must be placed into index.html to be then loaded into $templateCache so that it can be used by ng-view -->
<!-- NOTE: It would have been nice to include HTML imports such as <link rel="import" href="/path/to/imports/stuff.html"> in order to perform separation of concerns with views in different folders, but Chrome only supports it after enabling this in chrome://flags, so I stuck to in-line templates within the index.html file. However, in a real-world scenario I would be using a web server to avoid this limitation. -->
    <script id="/main.html" type="text/ng-template">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Submit Timesheet</h1>
        </div>
        <form class="form-horizontal">
          <div class="panel-body">
            <div class="well">
              <div class="form-group">
                <label class="col-sm-1 control-label" for="emailInput">Email:
                </label>
                <div class="input-group input-group-lg col-sm-10">
                  <input aria-describedby="basic-addon2" class="form-control" id="emailInput" ng-model="email" placeholder="artist" type="text">
                  <span class="input-group-addon" id="basic-addon2">@gener8.com</span>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="well">
              <div class="form-inline">
                <div class="form-group">
                  <label class="control-label col-sm-3">Work Start:</label>
                  <div class="col-sm-4">
                    <timepicker hour-step="hStartstep" minute-step="mStartstep" ng-change="startTimeChanged()" ng-model="startTime" show-meridian="true"></timepicker>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Work Finish:</label>
                  <div class="col-sm-4">
                    <timepicker hour-step="hFinishstep" minute-step="mFinishstep" ng-change="finishTimeChanged()" ng-model="finishTime" show-meridian="true"></timepicker>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Time Logged:</label>
                  <div class="col-sm-8">
                    <p class="form-control-static"><big>The time that you have selected is: {{displayDateTime}}</big></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="well well-lg">
              <div class="form-group form-group-large">
                <label class="control-label col-sm-1" for="messageInput">Message (optional):
                </label>
                <div class="col-sm-10">
                  <textarea class="form-control" cols="40" id="messageInput" ng-model="message" placeholder="Designed 3D platform for next Jurassic Park movie." rows="8"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="well well-lg">
              <h4 class="work-type-header">What type of work is this for?</h4>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in workItems">
                  <a class="list-group-item" href="" ng-class="{'active': $first}">
                    <h4 class="list-group-item-heading">{{item.workType}}</h4>
                    <p class="list-group-item-text">{{item.workItem}}</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </form>
        <div class="panel-footer">
          <div aria-label="..." class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button class="btn btn-default btn-lg" ng-click="resetForm()" type="button">Clear</button>
            </div>
            <div class="btn-group" role="group"></div>
            <div class="btn-group" role="group">
              <button class="btn btn-default btn-lg" type="button">Next</button>
            </div>
          </div>
        </div>
      </script>

<!-- load app.js, AngularJS, and dependencies -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-messages/angular-messages.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-touch/angular-touch.js"></script>
      <script src="bower_components/ngActivityIndicator/ngActivityIndicator.min.js"></script>
      <script src="app/scripts/app.js"></script>
      <script src="app/scripts/controllers/main.js"></script>
      <script src="app/scripts/services/time-service.js"></script>
    </body>
  </html>
